---
title: Feature
layout: "base.njk"

---

<section class="feature">
    <div class="container flow">
         <div class="content-feature">
        <div class="main">
                <h1> feature content </h1>
                <img src="/assets/blog/article-3.jpg" alt="This is a test">  
            </div>
            
            <div class="common">
                <p>            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rerum animi pariatur laboriosam vero, quisquam suscipit distinctio accusantium ipsum iusto.</p></p>
                <button> click </button>
                </div>

           


        </div>
            </div>
         

      
        
         </div>
 </div>

</section>
